/*  your css code here. If applicable */
.container{
	border:4px solid black;
	width:80%;
	height:200px;
	border-radius:20px;
	
}
.green{
	background-color:green;
	width:100px;
	height:100px;
	border-radius:50%;
	display:inline-block;
	margin:10px;
	padding:10px;
	
}
.yellow{
	background-color:yellow;
	width:100px;
	height:100px;
	border-radius:50%;
	display:inline-block;
   margin:10px;
	padding:10px;
	
}
.red{
	background-color:red;
	width:100px;
	height:100px;
	border-radius:50%;
	display:inline-block;
   margin:10px;
	padding:10px;
	
	
}